BasedOnStyle: LLVM
UseTab: Never
IndentWidth: 4
TabWidth: 4
BreakBeforeBraces: Allman
AllowShortIfStatementsOnASingleLine: false
IndentCaseLabels: false
ColumnLimit: 0
NamespaceIndentation: All
FixNamespaceComments: false
SortIncludes: false
AccessModifierOffset: -4
AlignAfterOpenBracket: DontAlign